<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/ddorazio/">CLT Web</a> |
        <a href="https://github.com/klassiccole">GitHub</a> |
        <a href="https://klassiccole.github.io/">GitHub.io</a> |
        <a href="https://klassiccole.github.io/itis3135/">Course.io</a> |
        <a href="https://www.freecodecamp.org/klassiccole">freeCodeCamp</a> |
        <a href="https://www.codecademy.com/profiles/board7927921924">Codecademy</a> |
        <a href="https://www.linkedin.com/in/coledorazio/">LinkedIn</a>
    </nav>

    <p>
        Site Designed by
        <a href="doraziodesigns.com/">Dorazio Designs</a> ©2026 |
        Certified in
        <a href="https://www.freecodecamp.org/klassiccole">Responsive Web Design</a>
    </p>

    <p><em>Learning one page at a time.</em></p>
</footer>
